
.custom-field {
    border: 0!important;
    outline: 0;
    background: transparent;
}

.alert-area {
    position: absolute;
    width: 20rem;
    top: 20px;
    right: 20px;
    max-height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    overflow-y: auto;
    .alert-body {
        box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        .alert-box {
            border-radius: 10px;
            margin-bottom: 10px;
            .clock-icon {
                font-size: 2rem;
                border-radius: 10px;
                width: 45px;
                height: 45px;
                line-height: 0;
            }
        }
    }
}

.h2 {
    font-size: 2rem;
}

body, #app, #wrapper {
    height: 100vh;
}

.bg-dark {
    background-color: $black!important;
}

.input-gray {
    background: #F6F6F6;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 8px;
    &::placeholder {
        font-size: 12px;
        color: #BDBDBD;
    }
}

.w-20 {
    width: 20%;
}

.rounded-link {
    border-radius: 0 20px 20px 0;
}

#page_rows {
    border: none;
    outline: none;
}

.prevNext {
    font-size: 1.5rem;
    padding: 0 4px;
}