
.custom-field {
    border: 0!important;
    outline: 0;
    background: transparent;
    border-bottom: 0.5px solid rgba(189, 189, 189, 0.8)!important;
}

.alert-area {
    position: absolute;
    width: 18rem;
    top: 20px;
    right: 20px;
    max-height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    overflow-y: auto;
    .alert-box {
        box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        border-radius: 10px;
        margin-bottom: 10px;
    }
}

.h2 {
    font-size: 2rem;
}

body, #app, #wrapper {
    height: 100vh;
}

.bg-dark {
    background-color: $black!important;
}

.input-gray {
    background: #F6F6F6;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 8px;
    &::placeholder {
        font-size: 12px;
        color: #BDBDBD;
    }
}
